<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 3 - Diretivas</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <!-- Se utilizar o v-show, o texto é exibido no codigo e o no css será display: nome -->
        <p v-if="texto">texto qualquer</p>
        <p v-else="texto">Não existe Texto</p>
        <div v-if="usuario.id == 1">
            Id: {{usuario.id}}<br>
            Nome: {{usuario.nome}}<br>
            Profissão: {{usuario.profissao}}<br>
        </div>
        <p v-else="texto">Não existe usuarios</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                texto: false,
                titulo: "Titulo",
                usuario: {
                    id: 1,
                    nome: "italo Leite",
                    profissao: "Ator"
                }
            }
        });
    </script>

</body>
</html>